.activie-section {
    padding: 20px 0;
    h1 {
        text-align: center;
        text-transform: uppercase;
        font-family: 'Open Sans', sans-serif;
        color: #660e12;
        font-weight: 600;
        font-size: 35px;
        // padding-bottom: 20px;
        @media only screen and (max-width: 360px) {
            font-size: 25px;
        }
        @media only screen and (max-width: 375px){
            font-size: 24px;
        }
        @media only screen and (max-width: 320px){
            font-size: 24px;
        }
    }
    span {
        i {
            margin-left: 39%;
            color: #ff000024;
            padding-bottom: 20px;
            @media only screen and (max-width: 480px) {
                margin-left: 21%;
            }
            @media only screen and (max-width: 777px) {
                margin-left: 32%;
            }
            @media only screen and (max-width: 414px) {
                margin-left: 19%;
            
            }
            @media only screen and (max-width: 405px) {
                margin-left: 12%;
            }
            @media only screen and (max-width: 375px) {
                margin-left: 21%;
            
            }
            @media only screen and (max-width: 320px) {
                margin-left: 15%;
            }
        }
        &:before {
            width: 117px;
            content: '';
            background: #eeeeee;
            position: relative;
            z-index: 999;
            float: left;
            height: 2px;
            top: 13px;
            left: 38%;
            @media only screen and (max-width: 480px) {
                left: 20%;
            }
            @media only screen and (max-width: 777px) {
                left: 30%;
            }
            @media only screen and (max-width: 405px) {
                left: 11%;
            }
            @media only screen and (max-width: 360px) {
                left: 14%;
                width: 106px;
            }
            @media only screen and (max-width: 414px) {
                left: 17%;
            }
            @media only screen and (max-width: 375px) {
                left: 20%;
                width: 90px;
            }  
            @media only screen and (max-width: 320px) {
                left: 13%;
                width: 26%;

            }
        }
        &:after {
            width: 117px;
            content: '';
            background: #eeeeee;
            position: relative;
            z-index: 999;
            float: right;
            height: 2px;
            top: 13px;
            right: 0%;
            right: 41%;
            @media only screen and (max-width: 1024px) {
                right: 35%;
            }
            @media only screen and (max-width: 991px) {
                right: 34%;
            }
            @media only screen and (max-width: 930px) {
                right: 33%;
            }
            @media only screen and (max-width: 895px) {
                right: 32%;
            }
            @media only screen and (max-width: 868px) {
                right: 30%;
            }
            @media only screen and (max-width: 813px) {
                right: 29%;
            }
            @media only screen and (max-width: 777px) {
                right: 33%;
            }
            @media only screen and (max-width: 723px) {
                right: 31%;
            }
            @media only screen and (max-width: 676px) {
                right: 29%;
            }
            @media only screen and (max-width: 643px) {
                right: 26%;
            }
            @media only screen and (max-width: 599px) {
                right: 24%;
            }
            @media only screen and (max-width: 562px) {
                right: 22%;
            }
            @media only screen and (max-width: 545px) {
                right: 20%;
            }
            @media only screen and (max-width: 524px) {
                right: 18%;
            }
            @media only screen and (max-width: 497px) {
                right: 16%;
            }
            @media only screen and (max-width: 470px) {
                right: 14%;
            }
            @media only screen and (max-width: 414px) {
                right: 19%;
            
            }
            @media only screen and (max-width: 405px) {
                right: 25%;
            }
            @media only screen and (max-width: 375px) {
                margin-left: 21%;
                width: 90px;
            
            }
            @media only screen and (max-width: 320px) {
                right: 19%;
                width: 33%;
            
            }
            
        }
       
    }
    .row {
        margin-left: 0;
        margin-right: 0;
        @media only screen and (max-width: 360px) {
            width: 100%;
        }
    }
    .col-md-3 {
        padding: 2px;
      }
    .image-logo {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
              height: 250px;
              object-fit: cover;
          }
        .zoom-icon {
                width: 170px;
                height: 170px;
                position: absolute;
                bottom: -100px;
                right: -100px;
                border-radius: 50%;
                background: #640002;
                background: -webkit-linear-gradient(to right, #640002, #640002);
                background: linear-gradient(to right, #640002, #640002);
                box-shadow: 0px 0px 0px 10px rgba(0,0,0,0.5);
                opacity: 0.9;
                overflow: hidden;
                z-index: 99;
                i {
                    line-height: 3;
                    margin-left: 20px;
                    font-size: 28px;
                    color: #dbdbdb;
                }
        }
        .overlay {
            position: absolute;
            bottom:100%;
            left: 15px;
            right: 0;
            overflow: hidden;
            width: 90%;
            height:0;
            top: 0px;
            transition: .5s ease;
            background: rgba(0, 0, 0, 0.8);
        }
          
        &:hover .overlay {
              bottom: 0;
              top: 18px;
              height: 88%;
        }
        a {
            .btn {
                color: #fff;
                background-color: #d9534f;
                border-color: #d43f3a;
                text-transform: uppercase;
                top: 51%;
                left: 29%;
                position: absolute;
                border-radius: 1px;
                &:hover {
                    background: #c00303;
                }
            }
            
        }
        .text {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 37%;
            left: 50%;
            width: 88%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            h1 {
                font-size: 17px;
                  border: 2px solid #fff;
                  padding: 10px;
                  color: #fff;
              }
               
          }
    }
    
}

.box20,.box20 .icon li a{overflow:hidden}
.box20 {box-shadow:0 0 5px #a3a3a3}
.box20 .post,.box20 .title{text-transform:capitalize; width:60%;}
.box20{position:relative}
.box20:after,.box20:before{position:absolute;content:""}
.box20:before{width:80%;height:220%;background: linear-gradient(to bottom, #33ccffd4 0%, #ce923bed 100%);top:-50%;left:-100%;z-index:1;transform:rotate(25deg);transform-origin:center top 0;transition:all .5s ease 0s}
/*.box20.blue:before{background:#0062b2!important;}
.box20.red:before{background:#b31d23!important;}
.box20.yellow:before{background:#efc203!important;}*/
.box20:hover:before{left:10%}
.box20:after{width:55%;height:175%;background-color:rgba(0,0,0,.35);bottom:-1000%;left:53%;transform:rotate(-33deg);transform-origin:center bottom 0;transition:all .8s ease 0s}
.box20 .box-content,.box20 .icon{width:100%;padding:0 20px;position:absolute;left:0;z-index:2;transition:all 1.1s ease 0s}
.box20:hover:after{bottom:-70%}
.box20 img{
    width: 100%;
    height: 192px;
    object-fit: cover;
}
.box20 .box-content{top:-100%;color:#fff}
.box20:hover .box-content{top:30px}
.box20 .title{font-size:20px;margin:0}
.box20 .icon li a,.box20 .post{display:inline-block;font-size:14px}
.box20 .post{margin-top:5px}
.box20 .icon{list-style:none;margin:0;bottom:-100%}
.box20:hover .icon{bottom:25px}
.box20 .icon li{display:inline-block}
.box20 .icon li a{width:35px;height:35px;line-height:35px;background:#ff0000;border-radius:50%;margin:0 3px;color:#fff;text-align:center;transition:all .5s ease 0s}
.box20 .icon li a:hover{background:#fff;}
.box20 .button {background-color:#09def46b;border-radius:3px;display:inline-block;padding:6px 12px;margin-top:10px;}
.box20 .button:hover {background-color:#000000;}
.box20 a, box20 a:link, box20 a:visited, box20 a:hover, box20 a:active {color:#ffffff!important;}
.icon {display:inline-block;height:60px;width:auto;}
.fas {font-size:32px;background-color:rgba(0,0,0,.1);border-radius:100px;height:55px;width:55px;line-height:55px;display:inline-block;vertical-align:middle;text-align:center;}
.circle-icon {background: rgba(0,0,0,.1);width: 66px;height: 66px;border-radius: 50%;text-align: center;line-height: 50px;vertical-align: middle;padding: 15px;}
h2.sector {font-size:26px;color:#555555;}
.box20 {margin-bottom:36px;}

@media only screen and (max-width:990px){
    .box20{margin-bottom:30px}
    .box20 .title{font-size:16px}
}
@media only screen and (max-width:479px){.box20 .title{font-size:16px}
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}