.try-section {
    padding: 30px 0;
    h1 {
        text-align: center;
        font-weight: 300;
        text-transform: capitalize;
        padding: 10px 0;
        font-size: 35px;
        font-family: 'Open Sans', sans-serif;
    }
    h2 {
        text-align: center;
        text-transform: capitalize;
        font-family: 'Open Sans', sans-serif;
        color: #b4b4b4a1;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
    }
    .carousel {
        margin-bottom: 0;
        padding: 0 0 30px 0;
        @media only screen and (max-width: 1137px) {
            width: 98%;
         }
         @media only screen and (max-width: 476px) {
            width: 75%;
        }
        .try-back {
            float: left;
            background: red;
            border-radius: 7%;
            width: 42px;
            margin-left: 51px;
            height: 37px;
            border: 1px solid #fff;
            margin-top: 240px;
            z-index: 9999;
            position: absolute;
            i {
                background: none;
                line-height: 1.2;
                color: #fff;
                margin-left: -6px;
             }
        }
        .tryback-next {
            right: 0;
             background: red;
             border-radius: 7%;
             width: 42px;
             margin-right: 36px;
             height: 37px;
             border: 1px solid #fff;
             margin-top: 240px;
             z-index: 9999;
             position: absolute;
            
            i {
                background: none;
                line-height: 1.2;
                color: #fff;
                margin-left: -6px;
             }
         }
        .arrival-item {
            ul {
               
                li {
                    float: left;
                    list-style: none;
                    width: 23%;
                    overflow: hidden;
                    margin: 10px;
                    @media only screen and (max-width: 1099px) {
                        margin: 0;
                        margin-left: 35px;
                    }
                    
                    @media only screen and (max-width: 1099px) {
                        margin-left: 21px;
                    }
                    @media only screen and (max-width: 1099px) {
                        margin-left: 17px;
                    }
                    @media only screen and (max-width: 907px) {
                        width: 21%;
                    }
                    @media only screen and (max-width: 768px) {
                        width: 45%;
                        padding-bottom: 10px;
                    }
                    
                   
                    .card {
                        width: 100% !important;
                        @media only screen and (max-width: 767px) {
                            margin-left: 8%;
                            margin-bottom: 10px;
                            width: 27rem !important;
                        }
                        .card-body {
                            padding: 14px;
                        }
                        img {
                            height: 250px;
                            object-fit: cover;
                         }
                         h5 {
                            color: #0000ff8a;
                            text-transform: capitalize;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 24px;
                            margin-bottom: 5px;
                            font-weight: 600;
                            @media only screen and (max-width: 1137px) {
                               font-size: 17px;
                            }
                            @media only screen and (max-width: 767px) {
                                width: 30%;
                            }
                         }
                         p {
                            text-transform: capitalize;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 18px;
                            color: #222222;
                            font-weight: 300;
                            margin-bottom: 5px;
                            @media only screen and (max-width: 1137px) {
                                font-size: 14px;
                             }
                         }
                        .span1 {
                            text-transform: capitalize;
                            font-size: 20px;
                            color: #4d4d4d;
                            font-family: 'Open Sans', sans-serif;
                            font-weight: 300;
                            @media only screen and (max-width: 1137px) {
                                font-size: 15px;
                             }
                            span {
                                color: #6cdd03;
                                font-size: 20px;
                                padding-left: 5px;
                                @media only screen and (max-width: 1137px) {
                                    font-size: 15px;
                                 }
                            }
                         }
                         h2 {
                            text-transform: capitalize;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 25px;
                            color: #e90000;
                            font-weight: 600;
                            text-align: left;
                            margin-bottom: 10px;
                            padding: 0;
                            @media only screen and (max-width: 1137px) {
                                font-size: 17px;
                             }
                            span {
                                text-transform: capitalize;
                                font-family: 'Open Sans', sans-serif;
                                font-size: 18px;
                                color: #c6c6c6;
                                font-weight: 600; 
                                margin-left: 10px;
                                @media only screen and (max-width: 1137px) {
                                    font-size: 17px;
                                    margin-left: 0; 
                                 }
                            }
                         }
                         h3 {
                            text-transform: uppercase;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            color: #ef5151;
                            font-weight: 600;
                            span {
                                text-transform: capitalize;
                                font-size: 18px;
                                color: #4d4d4d;
                                font-weight: 300;  
                            }
                         }
                         ul {
                            padding: 10px 0px 0px 0px;
                            li {
                                display: inline;
                                border: 1px solid #999;
                                padding: 4px 16px;
                                font-family: 'Open Sans', sans-serif;
                            }
                            .liclass {
                                display: inline;
                                border: 1px solid #999;
                                background: #005ccb;
                                padding: 4px 16px;
                                margin-left: -6px;
                                color: #fff;
                                
                            }
                         }
                         h4 {
                            text-transform: capitalize;
                            font-family: 'Open Sans', sans-serif;
                            font-size: 20px;
                            color: #4d4d4d;
                            font-weight: 300;
                            border: 1px solid #b8b8b8;
                            width: 67%;
                            padding: 4px 10px;
                            @media only screen and (max-width: 767px) {
                                width: 42%;
                            }
                            span {
                                border-left: 1px solid red;
                                padding: 0px 12px;
                            }
                         }
                         .btn-toolbar {
                            @media only screen and (max-width: 767px) {
                                width: 67%;
                            }
                         }
                        .second-group {
                            @media only screen and (max-width: 1058px) {
                                margin-right: 4px !important;
                            }
                            
                            .Second {
                                background: #f1f1f1;
                                font-family: 'Open Sans', sans-serif;
                                color: #000;
                                font-size: 16px; 
                                width: 131px;
                                padding: 5px ;
                                @media only screen and (max-width: 991px) {
                                    font-size: 15px;
                                } 
                                @media only screen and (max-width: 1058px) {
                                    font-size: 14px;
                                    padding: 4px;
                                }
                                @media only screen and (max-width: 907px) {
                                    padding: 11px 18px;
                                }
                                @media only screen and (max-width: 768px) {
                                    padding: 11px 37px;
                                }
                                // @media only screen and (max-width: 907px) {
                                //     padding: 12px 41px;
                                // }
                                &:hover {
                                    color: #fff;
                                    background: #005ccb;
                                }
                            }
                            
                        }
                        .third-group {
                            @media only screen and (max-width: 1137px) {
                                padding: 10px 0;
                            }
                            @media only screen and (max-width: 1055px) {
                                // padding-top: 10px;
                            }
                            @media only screen and (max-width: 767px) {
                                padding: 5px 0;
                            }
                            @media only screen and (max-width: 907px) {
                                padding: 10px 0;
                            }
                            .third  {
                                background: #b80101a8;
                                font-size: 16px;
                                padding: 5px;
                                width: 131px;
                                font-family: 'Open Sans', sans-serif;
                                &:hover {
                                    color: #fff;
                                    background: #005ccb;
                                }
                                @media only screen and (max-width: 1058px) {
                                    font-size: 15px;
                                    padding: 4px;
                                }
                                @media only screen and (max-width: 1137px) {
                                    padding: 10px 20px;
                                }
                                @media only screen and (max-width: 767px) {
                                    padding: 4px 16px;
                                }
                                @media only screen and (max-width: 907px) {
                                        padding: 10px 29px;

                                }
                                @media only screen and (max-width: 768px) {
                                    padding: 11px 50px;
                                }
                            }
                        }
                        
                    }
                }
            }
        }
    }

}

.menu-top {
    position: relative;
    z-index: 9999;
    @media only screen and (max-width:767px){
      margin-top:0;
    }
  }

//   for try

.menu-list {
    .bg-warning {
    background: none !important; 
    }
.navbar-collapse {
    ul {
        @media only screen and (max-width: 991px) {
            background: #f1f1f126;
        }
        li {
            padding: 0 5px;
            @media only screen and (max-width: 991px) {
                border-bottom: 1px solid #d5d5d533;
            }
            a {
                color: #000;
                position: relative;
                font-size: 15px;
                font-family: 'Open Sans', sans-serif;
                text-transform: uppercase;
                padding: 0px 10px;
                @media only screen and (max-width: 991px) {
                    // color: #fff !important;
                    padding: 5px;
                }
                &:after {
                    content: '';
                    background: #6666665e;
                    position: absolute;
                    z-index: 999;
                    float: left;
                    right: 0px;
                    top: 3px;
                    width: 1px;
                    height: 16px;
                    @media only screen and (max-width: 991px) {
                        display: none;
                    }
                }
                &:hover {
                    border-bottom: none !important;
                    color: red !important ;
                }
            }
            &:hover  .hoverul {
                display: block;
                position: fixed;
            }
            .hoverul {
                display: none;
                padding-left: 0;
                box-shadow: 0px 0px 1px 0px #ccc;
                z-index: 999;
                background: #f9f8f3;
                width: 14%;
                li {
                    display: block;
                    padding: 10px;
                    &:hover {
                        background: rgba(239, 239, 239, 0.6901960784313725);
                    }
                    a {
                        font-family: 'Open Sans', sans-serif;
                        &:after {
                            display: none;
                        }
                        &:hover {
                            &:hover {
                                color:#f11015;
                            }
                        }
                    } 
                }
            }
        }
    }
}
}

// for try section
.section-vacation {
    padding: 20px 0;
    h1 {
        font-weight: 300;
        text-transform: capitalize;
        padding: 10px 9px;
        font-size: 35px;
        font-family: 'Open Sans', sans-serif;
        margin-bottom: 0;
        @media only screen and (max-width: 414px) {
            font-size: 16px;
            padding-left: 10px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 16px;
            padding-left: 10px;
        }
        .vacspan {
            color: #f48181;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            @media only screen and (max-width: 991px) {
                font-size: 25px;
            }
            @media only screen and (max-width: 320px) {
                font-size: 16px;
            }
        }
    }
    a {
        font-weight: 300;
        text-transform: capitalize;
        font-family: 'Open Sans', sans-serif;
        // padding: 10px 0;
        font-size: 16px;
        color: #000;
        padding-right: 19px;    
        text-decoration: underline;
        margin-left: 748px;
        margin-top: 20px;
            &:hover {
            color: red;
        }
        @media only screen and (max-width: 1024px) {
            margin-top: 10px;
        }
        @media only screen and (max-width: 991px) {
            font-size: 17px;
            
        }
        @media only screen and (max-width: 768px) {
            margin-left: 296px;
            margin-top: 24px;
            
        }
        @media only screen and (max-width: 414px) {
            margin-left: 12px;
            margin-top: 13px;
        }
        @media only screen and (max-width: 375px) {
            margin-left: 289px;
            margin-top: 0;
        }
        @media only screen and (max-width: 360px) {
            margin-left: 1px;
            margin-top: 12px;
        }
        @media only screen and (max-width: 320px) {
            font-size: 14px;
            margin-left: 14px;
            margin-top: 8px;
        }
    }
        .slick-initialized .slick-slide {
        padding: 10px;
    }
    .regular  {
        width: 100%;
        img {
            width: 100% !important;
            object-fit: cover;
            height: 250px;
            position: relative;
            // margin-top: 20px;
        }
        
        .arrowleft {
            position: absolute;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            text-align: center;
            right: 80px;
            width: 25px;
            height: 25px;
            border-radius: 1px;
            border: 1px solid #dfdfdf;
            background: #7b0d0d;
            color: #fff;
            font-size: 22px;
            top: -23px;
        
        }
        .arrowright {
            position: absolute;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            text-align: center;
            right: 47px;
            width: 25px;
            height: 25px;
            border-radius: 1px;
            border: 1px solid #dfdfdf;
            background: #7b0d0d;
            color: #fff;
            font-size: 22px;
            top: -23px;
       
        }
        .caption {
            color: white;
            font-size: 20px;
            position: absolute;
            top: 216px !important;
            /* left: 12.5%; */
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            z-index: 1;
            width: 317px;
            height: 86px;
            background: rgba(52, 52, 52, 0.61);
            margin-left: 159px;
            @media only screen and (max-width: 1024px) {
                width: 234px;
                margin-left: 117px;
            
            }
            @media only screen and (max-width: 991px) {
                width: 227px;
                margin-left: 114px;
            }
            @media only screen and (max-width: 768px) {
                width: 171px;
                margin-left: 86px;
            }
            
            h2 {
                font-size: 15px;
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                padding-top: 12px;
                text-align: left;
                margin-left: 8px;
                @media only screen and (max-width: 1024px) {
                    padding-top: 10px;
                    font-size: 13px;
                }
                @media only screen and (max-width: 991px) {
                    padding-top: 10px;
                    font-size: 13px;
                }
            }
            span {
                font-size: 17px;
                text-transform: capitalize;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                float: left;
                margin-left: 6px;
                @media only screen and (max-width: 1024px) {
                    padding-top: 10px;
                    font-size: 13px;
                }
                @media only screen and (max-width: 991px) {
                    font-size: 13px;
                }
            }
            
        }
    }
    .regular-mobile {
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
        img {
            @media only screen and (max-width: 3414px) {
                height: 138px;
                width: 396px;
                object-fit: cover;
                padding-top: 10px;
            } 
            @media only screen and (max-width: 320px) {
                width: 100%;
                height: 135px;
                object-fit: cover;
                padding-top: 10px;
            } 
            @media only screen and (max-width: 375px) {
                height: 136px;
                width: 357px;
                object-fit: cover;
            } 
        }
        .arrowleft {
            
            position: absolute;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            text-align: center;
            right: 80px;
            line-height: 1.2;
            width: 20px;
            height: 20px;
            border-radius: 1px;
            border: 1px solid #dfdfdf;
            background: #f32943;
            color: #fff;
            font-size: 16px;
            
        
        }
        .arrowright {
            position: absolute;
            right: 25px;
            top: 0%;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            text-align: center;
            line-height: 1.2;
            width: 20px;
            height: 20px;
            border-radius: 1px;
            border: 1px solid #dfdfdf;
            background: #f32943;
            color: #fff;
            font-size: 16px;
        
        }
        .caption {
            color: white;
            font-size: 20px;
            position: absolute;
            /* top: 217px !important; */
            /* left: 12.5%; */
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            /* z-index: 1; */
            width: 298px;
            height: 63px;
            background: rgba(52, 52, 52, 0.61);
            margin-left: 149px;
            top: 114px;
            @media only screen and (max-width: 414px) {
                width: 394px;
                margin-left: 200px;
            }
            @media only screen and (max-width: 375px) {
                width: 356px;
                margin-left: 178px;
            }
            @media only screen and (max-width: 320px) {
                width: 321px;
                margin-left: 150px;
            }
            
            h2 {
                font-size: 15px;
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                padding-top: 12px;
                margin: 0;
                text-align: center;
                margin-left: 8px;
                @media only screen and (max-width: 991px) {
                    padding-top: 10px;
                    font-size: 13px;
                }
                @media only screen and (max-width: 991px) {
                    padding-top: 10px;
                    font-size: 13px;
                }
            }
            span {
                font-size: 17px;
                text-transform: capitalize;
                font-weight: 300;
                font-family: 'Open Sans', sans-serif;
                // float: left;
                margin-left: 6px;
                @media only screen and (max-width: 991px) {
                    font-size: 13px;
                }
            }
            a {
                font-size: 14px;
                margin-left: 14px;
                margin-top: 8px;
            }
            
        }
    }
} 



// for global section 
.slider-global {
    @media only screen and (max-width: 320px) {
        height: 100px !important;
    }
}
.section-global {
    padding: 30px 0;
    @media only screen and (max-width: 768px) {
        height: 299px;
    }
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #1e1d1d;
        font-weight: 600;
        font-size: 35px;
        // padding-bottom: 20px;
        @media only screen and (max-width: 777px) {
            font-size: 30px;
        }
        @media only screen and (max-width: 375px) {
            font-size: 25px;
        }
        @media only screen and (max-width: 320px){
            font-size: 20px;
        }
    }
    .global-icon {
        i {
            margin-left: 39%;
            background: none;
            // color: #ff000024;
            font-size: 62px;
            padding-bottom: 20px;
            @media only screen and (max-width: 480px) {
                margin-left: 21%;
            }
            @media only screen and (max-width: 777px) {
                margin-left: 31%;
                font-size: 39px;
                margin-top: 11px;
            }
            @media only screen and (max-width: 497px) {
                font-size: 39px;
                margin-top: 11px;
            }
            @media only screen and (max-width: 375px) {
                font-size: 28px;
                margin-top: 16px;
                margin-left: 17px;
            }
            @media only screen and (max-width: 414px) {
                margin-left: 6%;
                font-size: 24px;
                margin-top: 21px;
            }
            @media only screen and (max-width: 320px) {
                margin-left: 6%;
                font-size: 24px;
                margin-top: 21px;
            }
        }
        &:before {
            width: 117px;
            content: '';
            background: #087dc2;
            position: relative;
            z-index: 999;
            float: left;
            height: 3px;
            top: 31px;
            left: 38%;
            
            @media only screen and (max-width: 480px) {
                left: 20%;
            }
            @media only screen and (max-width: 777px) {
                left: 30%;
            }
            @media only screen and (max-width: 414px) {
                left: 7%;
            }
            @media only screen and (max-width: 375px) {
                left: 7%;
            }   
            @media only screen and (max-width: 320px) {
                left: 10%;
                width: 26%;
            }
        }
        &:after {
            width: 117px;
            content: '';
            background: #087dc2;
            position: relative;
            z-index: 999;
            float: right;
            height: 3px;
            top: 31px;
            right: 0%;
            right: 38%;
            @media only screen and (max-width: 991px) {
                right: 30%;
            }
            @media only screen and (max-width: 952px) {
                right: 29%;
            }
            @media only screen and (max-width: 930px) {
                right: 28%;
            }
            @media only screen and (max-width: 897px) {
                right: 27%;
            }
            @media only screen and (max-width: 895px) {
                right: 26%;
            }
            @media only screen and (max-width: 868px) {
                right: 25%;
            }
            @media only screen and (max-width: 813px) {
                right: 24%;
            }
            @media only screen and (max-width: 796px)  {
                right: 23%;
            }
            @media only screen and (max-width: 778px) {
                right: 22%;
            }
            @media only screen and (max-width: 777px) {
                right: 30%;
            }
            @media only screen and (max-width: 724px) {
                right: 25%;
            }
            @media only screen and (max-width: 676px) {
                right: 22%;
            }
            @media only screen and (max-width: 643px) {
                right: 23%;
            }
            @media only screen and (max-width: 599px) {
                right: 17%;
            }
            @media only screen and (max-width: 562px) {
                right: 13%;
            }
            @media only screen and (max-width: 545px) {
                right: 11%;
            }
            @media only screen and (max-width: 524px) {
                right: 9%;
            }
            @media only screen and (max-width: 497px) {
                right: 6%;
            }
            @media only screen and (max-width: 1024px) {
                right: 29%;
            }
            @media only screen and (max-width: 414px) {
                right: 19%;
            }
            @media only screen and (max-width: 375px) {
                right: 11%;
            } 
            @media only screen and (max-width: 320px) {
                right: 24%;
                width: 26%;
            }
            
        }
    }
    
    .slick-slider {
        .arrowleft {
            position: absolute;
            left: 0px;
            top: 27%;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            width: 45px;
            background: none;
            height: 45px;
            text-align: center;
            line-height: 1.8;
            /* border-radius: 5px; */
            border: none;
            color: #000;
            @media only screen and (max-width: 768px) {
                top: 12%;
            }
                @media only screen and (max-width: 320px) {
                    font-size: 24px;
                    top: 47px;
                }
                @media only screen and (max-width: 415px) {
                    font-size: 25px;
                    top: 31%;
                    left: -7px;
                }
            }
             .arrowright {
                position: absolute;
                right: 0px;
                top: 27%;
                transform: translateY(-50%);
                z-index: 99;
                color: #000;
                width: 45px;
                background: none;
                height: 45px;
                text-align: center;
                line-height: 1.8;
                // border-radius: 5px;
                border: none;
                @media only screen and (max-width: 768px) {
                    top: 12%;
                }
                @media only screen and (max-width: 320px) {
                    right: 10px;
                    font-size: 24px;
                    top: 47px;
                }
                @media only screen and (max-width: 411px) {
                    font-size: 25px;
                    top: 38% !important;
                    left: 371px;

                }
                @media only screen and (max-width: 415px) {
                    font-size: 25px;
                    top: 31%;
                    right: -7px;
                }
            }
        }
        .regular-global  {
            width: 100% !important;
            @media only screen and (max-width:767px) {
                height: 111px !important;
            }
        }
        // .slick-track {
        //     @media only screen and (max-width: 411px) {
        //         transform: unset !important;
        //     }
        // }
          .slick-slide  {
            width: 258px !important;
            margin: 6px;
            border: 1px solid #ccc;
            height: 101px;
            @media only screen and (max-width: 1024px) {
                width: 244px !important;
            }
            @media only screen and (max-width: 991px) {
                width: 187px !important;
            }
           
            @media only screen and (max-width: 767px) {
                width: 180px !important;
            }
            @media only screen and (max-width: 768px) {
                width: 180px !important;
            }
            @media only screen and (max-width: 415px) {
                width: 92px !important;
                height: 70px;
            }
            @media only screen and (max-width: 320px) {
                width: 313px !important;
                height: 99px;
                padding: 0;
            }
          }
        a {
            // border: 1px solid #999; 
            width: 100%;
            img {
                padding: 9px 0;
                width: 60%;
                margin-left: 53px;
              // margin-left: 24px;
              @media only screen and (max-width: 767px ) {
                width: 60%;
                margin-left: 39px;
                padding: 15px 0;
              }
                @media only screen and (max-width: 375px) {
                    padding: 0;
                    width: 57%!important;
                    height: 103px !important;
                }
                @media only screen and (max-width: 415px) {
                    margin-left: 18px;
                }
            }
        }
    .global-section {
        @media only screen and (max-width: 320px) {
            width: 100%;
        }
    }
    
}