.vacation-section {
    padding: 30px 0;
    .titlebar {
        overflow: hidden;
        
            h1 {
                font-weight: 300;
                text-transform: capitalize;
                padding: 10px 0;
                font-size: 35px;
                font-family: 'Open Sans', sans-serif;
                @media only screen and (max-width: 991px) {
                    font-size: 25px;
                }
                @media only screen and (max-width: 320px) {
                    font-size: 16px;
                }
                .vacspan {
                    color: #f48181;
                    font-weight: 300;
                    font-family: 'Open Sans', sans-serif;
                    @media only screen and (max-width: 991px) {
                        font-size: 25px;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 16px;
                    }
                }
            }
            a {
                font-weight: 300;
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                // padding: 10px 0;
                font-size: 18px;
                color: #000;
                padding-right: 19px;    
                text-decoration: underline;
                    &:hover {
                    color: red;
                }
                @media only screen and (max-width: 991px) {
                    font-size: 17px;
                    
                }
                @media only screen and (max-width: 320px) {
                    font-size: 14px;
                }
            }
        .next-back {
            float: right;
            margin: 12px 46px;
            .back {
               a {
                padding: 0px 2px;
                font-family: 'Open Sans', sans-serif;
                   i {
                    line-height: 1.4;
                    width: 40px;
                    height: 37px;
                    border-radius: 1px;
                    border: 1px solid #dfdfdf;
                    background: #f32943;
                    color: #fff;
                    font-size: 25px;
                    @media only screen and (max-width: 991px) {
                        width: 30px;
                        height: 30px;
                        line-height: 1.2;   
                    } 
                    @media only screen and (max-width: 320px) {
                        width: 20px;
                        height: 20px;
                        line-height: 1.2;
                        font-size: 15px;
                    }  
                   }
               }
            }
        }
    }
    .carousel {
        margin-bottom: 0;
        padding: 0 0 30px 0;
        .arrival-item {
            ul {
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    list-style: none;
                    width: 21%;
                    overflow: hidden;
                    // margin-right: 2.6%;
                    margin: 22px;
                    @media only screen and (max-width: 1099px) {
                        margin: 0;
                        margin-left: 35px;
                    }
                    
                    @media only screen and (max-width: 1099px) {
                        margin-left: 21px;
                    }
                    @media only screen and (max-width: 1099px) {
                        margin-left: 17px;
                    }
                    @media only screen and (max-width: 320px) {
                       width: 90%;
                    }
                    a {
                        img {
                            width: 100% !important;
                            object-fit: cover;
                            height: 250px;
                            position: relative;
                        }
                    }
                    @media only screen and (max-width: 320px) {
                         &:nth-child(1) {
                            display: block;
                        }
                        &:nth-child(2) {
                            display: none;
                        }
                        &:nth-child(3) {
                            display: none;
                        }
                        &:nth-child(4) {
                            display: none;
                        }
                     }
                   
                }
            }
        }
    }
    .caption {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 228px !important;
        /* left: 12.5%; */
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        width: 21%;
        height: 86px;
        background: rgba(52, 52, 52, 0.61);
        margin-left: 141px;
        @media only screen and (max-width: 1200px) {
            margin-left: 127px;
        }
        @media only screen and (max-width: 1122px) {
            margin-left: 119px;
        }
        @media only screen and (max-width: 1099px) {
            margin-left: 114px;
        }
        @media only screen and (max-width: 1041px) {
            margin-left: 109px;
        }
        @media only screen and (max-width: 993px) {
            top: 151px;
            margin-left: 104px;
            width: 21%;
            height: 139px;
        }
        @media only screen and (max-width: 931px) {
            margin-left: 99px;
        }
        @media only screen and (max-width: 879px) {
            margin-left: 92px;

        }
        @media only screen and (max-width: 767px) {
            margin-left: 81px;
        }
        @media only screen and (max-width: 400px) {
            margin-left: 43px;
        }
        @media only screen and (max-width: 697px) {
            margin-left: 74px;
        }
        @media only screen and (max-width: 768px) {
            margin-left: 81px;
        }
        @media only screen and (max-width: 320px) {
            margin-left: 144px;
            width: 90%;
         }
        
        h2 {
            font-size: 16px;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            padding-top: 12px;
            @media only screen and (max-width: 991px) {
                padding-top: 10px;
                font-size: 13px;
            }
            @media only screen and (max-width: 991px) {
                padding-top: 10px;
                font-size: 13px;
            }
        }
        span {
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 300;
            font-family: 'Open Sans', sans-serif;
            @media only screen and (max-width: 991px) {
                font-size: 13px;
            }
        }
        
    }
}
.global-section {
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #1e1d1d;
        font-weight: 600;
        font-size: 35px;
        // padding-bottom: 20px;
        @media only screen and (max-width: 777px) {
            font-size: 30px;
        }
    }
    .global-icon {
        i {
            margin-left: 39%;
            background: none;
            // color: #ff000024;
            font-size: 62px;
            padding-bottom: 20px;
            @media only screen and (max-width: 480px) {
                margin-left: 21%;
            }
            @media only screen and (max-width: 777px) {
                margin-left: 31%;
                font-size: 39px;
                margin-top: 11px;
            }
            @media only screen and (max-width: 497px) {
                font-size: 39px;
                margin-top: 11px;
            }
        }
        &:before {
            width: 117px;
            content: '';
            background: #087dc2;
            position: relative;
            z-index: 999;
            float: left;
            height: 3px;
            top: 31px;
            left: 38%;
            @media only screen and (max-width: 480px) {
                left: 20%;
            }
            @media only screen and (max-width: 777px) {
                left: 30%;
            }
        }
        &:after {
            width: 117px;
            content: '';
            background: #087dc2;
            position: relative;
            z-index: 999;
            float: right;
            height: 3px;
            top: 31px;
            right: 0%;
            right: 38%;
            @media only screen and (max-width: 991px) {
                right: 30%;
            }
            @media only screen and (max-width: 952px) {
                right: 29%;
            }
            @media only screen and (max-width: 930px) {
                right: 28%;
            }
            @media only screen and (max-width: 897px) {
                right: 27%;
            }
            @media only screen and (max-width: 895px) {
                right: 26%;
            }
            @media only screen and (max-width: 868px) {
                right: 25%;
            }
            @media only screen and (max-width: 813px) {
                right: 24%;
            }
            @media only screen and (max-width: 796px)  {
                right: 23%;
            }
            @media only screen and (max-width: 778px) {
                right: 22%;
            }
            @media only screen and (max-width: 777px) {
                right: 30%;
            }
            @media only screen and (max-width: 724px) {
                right: 25%;
            }
            @media only screen and (max-width: 676px) {
                right: 22%;
            }
            @media only screen and (max-width: 643px) {
                right: 23%;
            }
            @media only screen and (max-width: 599px) {
                right: 17%;
            }
            @media only screen and (max-width: 562px) {
                right: 13%;
            }
            @media only screen and (max-width: 545px) {
                right: 11%;
            }
            @media only screen and (max-width: 524px) {
                right: 9%;
            }
            @media only screen and (max-width: 497px) {
                right: 6%;
            }
            @media only screen and (max-width: 1024px) {
                right: 31%;
            }
            
        }
       
    }
    .try-back {
        float: left;
        // background: red;
        // border-radius: 7%;
        width: 42px;
        margin-left: 13px;
        height: 37px;
        // border: 1px solid #fff;
        margin-top: 72px;
        z-index: 9999;
        position: absolute;
        i {
            background: none;
            line-height: 1.3;
            color: #131313;
            margin-left: -6px;
            font-size: 25px;
         }
    }
    .tryback-next {
        right: 0;
        //  background: red;
        //  border-radius: 7%;
         width: 42px;
         margin-right: 64px;
         height: 37px;
        //  border: 1px solid #fff;
         margin-top: 72px;
         z-index: 9999;
         position: absolute;
        
        i {
            background: none;
            line-height: 1.3;
            color: #131313;
            margin-left: -6px;
            font-size: 25px;
         }
     }
    .new-arrival {
        width: 100%;
    }
    .titlebar {
        overflow: hidden;
            h1 {
                font-weight: 300;
                text-transform: capitalize;
                padding: 10px 0;
                font-size: 35px;
                @media only screen and (max-width: 991px) {
                    font-size: 30px;
                }
                .vacspan {
                    color: #f48181;
                    font-weight: 300;
                    @media only screen and (max-width: 991px) {
                        font-size: 30px;
                    }
                }
            }
            a {
                font-weight: 300;
                text-transform: capitalize;
                // padding: 10px 0;
                font-size: 23px;
                color: #000;
                padding-right: 19px;    
                text-decoration: underline;
                &:hover {
                    color: red;
                }
            }
        .next-back {
            float: right;
            margin: 12px 0;
            .back {
               a {
                padding: 0px 2px;
                   i {
                    line-height: 1.4;
                    width: 40px;
                    height: 37px;
                    border-radius: 1px;
                    border: 1px solid #dfdfdf;
                    background: #f32943;
                    color: #fff;
                    font-size: 25px;    
                   }
               }
            }
        }
    }
    .carousel {
        margin-bottom: 0;
        padding: 0 0 30px 0;
        .arrival-item {
            ul {
                margin: 0;
                padding: 0;
                li {
                    float: left;
                    list-style: none;
                    width: 16%;
                    overflow: hidden;
                    // margin-right: 2.6%;
                    border: 1px solid #999;
                    margin: 22px;
                    @media only screen and (max-width: 1099px) {
                        margin: 11px;
                        width: 17%;
                    }
                    @media only screen and (max-width: 879px) {
                        width: 17%;
                    }
                    @media only screen and (max-width: 733px) {
                        width: 16%;
                    }
                    @media only screen and (max-width: 549px) {
                        margin: 7px;
                    }
                    
                    a {
                        // border: 1px solid #999; 
                        width: 100%;
                        img {
                            width: 100% !important;
                            object-fit: cover;
                            height: 136px;
                            position: relative;
                            /* border: 1px solid #999; */
                            padding: 19px;
                            // margin-left: 24px;
                        }
                    }
                }
            }
        }
    }
    .caption {
        color: white;
        font-size: 20px;
        position: absolute;
        top: 228px !important;
        /* left: 12.5%; */
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
        z-index: 1;
        width: 22%;
        height: 86px;
        background: rgba(52, 52, 52, 0.61);
        /* bottom: 13px !important; */
        /* right: 0; */
        margin-left: 165px;
        @media only screen and (max-width: 991px) {
            top: 151px;
            left: 50%;
            width: 91%;
            height: 100px;
        
        }
        @media only screen and (max-width: 768px) {
            top: 146px;
            left: 50%;
            width: 88%;
            height: 109px;
        }
        @media only screen and (max-width: 767px) {
            top: 155px;
            left: 50%;
            width: 96%;
            height: 90px;
        }
        
        h2 {
            font-size: 19px;
            text-transform: capitalize;
            padding-top: 12px;
            @media only screen and (max-width: 991px) {
                padding-top: 12px;
            }
            @media only screen and (max-width: 991px) {
                padding-top: 28px;
            }
        }
        span {
            font-size: 17px;
            text-transform: capitalize;
            font-weight: 300;
        }
        
    }
}
.trip-section {
    // padding: 20px 0;
    h1 {
        text-align: center;
        font-weight: 300;
        text-transform: capitalize;
        padding: 10px 0;
        font-size: 35px;
        font-family: 'Open Sans', sans-serif;
        color: #323232;
        @media only screen and (max-width: 414px) {
            font-size: 25px;
        }
        @media only screen and (max-width: 375px){
            font-size: 25px;
        }
        @media only screen and (max-width: 320px){
            font-size: 23px;
            padding: 0;
            margin: 0;
        }
    }
    h2 {
        text-align: center;
        text-transform: capitalize;
        font-family: 'Open Sans', sans-serif;
        color: #6a6a6a;
        margin: 0;
        padding-bottom: 20px;
        font-weight: 300;
        font-size: 18px;
        @media only screen and (max-width: 375px){
            font-size: 13px;
        }
        @media only screen and (max-width: 320px){
            font-size: 13px;
        }
    }
    .slick-slider {
        .arrowleft {
            position: absolute;
            left: 1px;
            top: 236px;
            transform: translateY(-50%);
            z-index: 99;
            color: #fff;
            width: 30px;
            background: #7b0d0d;
            height: 30px;
            text-align: center;
            line-height: 1.4;
            border-radius: 1px;
            font-size: 23px;
            text-align:center;
                border-radius: 5px;
               @media only screen and (max-width: 414px) {
                left: 30px;
               }
                @media only screen and (max-width: 411px) {
                    left: 29px;
                }
                
                @media only screen and (max-width:320px) {
                    top: 236px;
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    line-height: 1.5;
                    left: 13px;
                }
            }
            .arrowright {
                position: absolute;
                right: 8px;
                top: 236px;
                transform: translateY(-50%);
                z-index: 99;
                color: #fff;
                width: 30px;
                background: #7b0d0d;
                height: 30px;
                text-align: center;
                line-height: 1.4;
                border-radius: 1px;
                font-size: 23px;;
                @media only screen and (max-width: 414px) {
                    right: 27px;
                }
                @media only screen and (max-width: 411px) {
                    right: 25px;
                }
                @media only screen and (max-width:320px) {
                    top: 236px;
                    width: 30px;
                    height: 30px;
                    font-size: 20px;
                    line-height: 1.5;
                    right: 13px;
                }
            }
    }
 .regular-slider  {
     width: 100% !important;
 }
 .slick-track {
     @media only screen and (max-width: 320px) {
            // transform: translate3d(0px, 0px, 0px)!important;
     }
 }
 .slick-dotted.slick-slider {
     width: 100% !important;
 }
   .slick-slide  {
    width: 349px;
    @media only screen and (max-width:320px) {
        width: 334px !important;
    }
   }

    .trip {
        width: 100%;
        img {
            width: 100%;
            height: 135px;
            object-fit: cover;
        }
    }
    .card {
            width: 100% !important;
            padding-right: 10px;
            @media only screen and (max-width: 767px) {
                margin-left: 7%;
                margin-bottom: 10px;
                width: 11rem !important;
            }
            @media only screen and (max-width: 414px) {
                width: 23rem !important;
            }
            @media only screen and (max-width: 375px) {
                width: 21rem !important;
            }
            @media only screen and (max-width: 320px) {
                margin-left: 0;
                width: 94% !important;
                padding: 0;
            }
            .card-body {
                padding: 14px;
            }
            img {
                height: 250px;
                object-fit: cover;
             }
             h5 {
                color: #0000ff8a;
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                margin-bottom: 5px;
                font-weight: 600;
                @media only screen and (max-width: 1137px) {
                   font-size: 17px;
                }
                @media only screen and (max-width: 767px) {
                    width: 30%;
                }
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
             }
             p {
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                font-size: 18px;
                color: #222222;
                font-weight: 300;
                margin-bottom: 5px;
                @media only screen and (max-width: 1137px) {
                    font-size: 14px;
                 }
             }
            .span1 {
                text-transform: capitalize;
                font-size: 20px;
                color: #4d4d4d;
                font-family: 'Open Sans', sans-serif;
                font-weight: 300;
                @media only screen and (max-width: 1137px) {
                    font-size: 15px;
                 }
                span {
                    color: #6fab18;
                    font-size: 20px;
                    padding-left: 5px;
                    @media only screen and (max-width: 1137px) {
                        font-size: 15px;
                     }
                }
             }
             h2 {
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                font-size: 25px;
                color: #e90000;
                font-weight: 600;
                text-align: left;
                margin-bottom: 10px;
                padding: 0;
                @media only screen and (max-width: 1137px) {
                    font-size: 17px;
                 }
                span {
                    text-transform: capitalize;
                    font-family: 'Open Sans', sans-serif;
                    font-size: 18px;
                    color: #c6c6c6;
                    font-weight: 600; 
                    margin-left: 10px;
                    @media only screen and (max-width: 1137px) {
                        font-size: 17px;
                        margin-left: 0; 
                     }
                }
             }
             h3 {
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                color: #ef5151;
                font-weight: 600;
                span {
                    text-transform: capitalize;
                    font-size: 18px;
                    color: #4d4d4d;
                    font-weight: 300;  
                }
             }
             ul {
                padding: 10px 0px 0px 0px;
                li {
                    display: inline;
                    border: 1px solid #999;
                    padding: 4px 16px;
                    font-family: 'Open Sans', sans-serif;
                }
                .liclass {
                    display: inline;
                    border: 1px solid #999;
                    background: #005ccb;
                    padding: 4px 16px;
                    margin-left: -6px;
                    color: #fff;
                    
                }
             }
             h4 {
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                font-size: 20px;
                color: #4d4d4d;
                font-weight: 300;
                border: 1px solid #b8b8b8;
                width: 67%;
                padding: 4px 10px;
                @media only screen and (max-width: 767px) {
                    width: 42%;
                }
                span {
                    border-left: 1px solid red;
                    padding: 0px 12px;
                }
             }
             .btn-toolbar {
                @media only screen and (max-width: 767px) {
                    width: 100%;
                }
                @media only screen and (max-width: 414px) {
                    width: 100%;
                }
                @media only screen and (max-width: 375px) {
                    width: 100%;
                }
                .mr-2, .mx-2 {
                    margin-right: 0!important;
                }
             }
            .second-group {
                width: 50%;
                @media only screen and (max-width: 1024px) {
                    margin-top: 9px;
                    height: 46px;
                }
                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
                @media only screen and (max-width: 411px) {
                    height: 46px;
                    margin-top: 10px;
                }
                @media only screen and (max-width: 1058px) {
                    margin-right: 4px !important;
                }
                
                .Second {
                    font-family: 'Open Sans', sans-serif;
                    // color: #000;
                    font-size: 16px; 
                    width: 96%;
                    padding: 5px 5px;
                    border-radius: 1px;
                    text-transform: capitalize;
                    background: #3636ff;
                    border: none;
                    @media only screen and (max-width: 991px) {
                        font-size: 15px;
                    } 
                    @media only screen and (max-width: 1058px) {
                        font-size: 14px;
                        padding: 4px;
                    }
                    @media only screen and (max-width: 907px) {
                        padding: 11px 18px;
                    }
                    @media only screen and (max-width: 768px) {
                        padding: 10px;
                    }
                    @media only screen and (max-width: 320px) {
                        padding: 10px;
                    }
                    &:hover {
                        color: #fff;
                        background: #005ccb;
                    }
                }
                
            }
            .third-group {
                width: 50%;
                @media only screen and (max-width: 1137px) {
                    padding: 10px 0;
                }
                @media only screen and (max-width: 1055px) {
                    // padding-top: 10px;
                }
                @media only screen and (max-width: 768px) {
                    width: 100%;
                }
                @media only screen and (max-width: 767px) {
                    padding: 5px 0;
                }
                @media only screen and (max-width: 907px) {
                    padding: 10px 0;
                }
                .third  {
                    background: #b80101a8;
                    font-size: 16px;
                    padding: 5px 5px;
                    width: 96%;
                    font-family: 'Open Sans', sans-serif;
                    border-radius: 1px;
                    text-transform: capitalize;
                    border: none;
                    &:hover {
                        color: #fff;
                        background: #841212;
                    }
                    @media only screen and (max-width: 1058px) {
                        font-size: 15px;
                        padding: 4px;
                    }
                    @media only screen and (max-width: 1137px) {
                        padding: 10px 20px;
                    }
                    @media only screen and (max-width: 767px) {
                        padding: 4px 16px;
                    }
                    @media only screen and (max-width: 907px) {
                            padding: 10px 29px;

                    }
                    @media only screen and (max-width: 768px) {
                        padding: 10px;
                    }
                    @media only screen and (max-width: 320px) {
                        padding: 10px;
                    }
                }
            }
            
        }
    .slider-trip {
        @media only screen and (max-width: 320px) {
            height: 450px !important;
        }
        
    }
}

body {
    overflow-x: hidden;
}