.getcall-button {
    position: fixed;
    z-index: 9;
    top: 344px;
    right: 0;
    cursor: pointer;
    .btn-info {
        color: #fff;
        background-color: none !important;
        border-color: none !important;
        background: none;
        padding: 0;
        &:hover {
            color: #fff;
          background-color: none !important;
          border-color: none !important;
          background: none;
         }
         &:focus {
            color: #fff;
          background-color: none !important;
          border-color: none !important;
          background: none;
         }
       }
       .btn-group-lg>.btn, .btn-lg {
        border: none;
       }
        
}
.review-button {
    position: fixed;
    z-index: 9;
    top: 210px;
    right: 0;
    cursor: pointer;
    .btn-info {
        color: #fff;
        padding: 0;
        background-color: none !important;
        border-color: none !important;
        background: none;
        &:hover {
            color: #fff;
          background-color: none !important;
          border-color: none !important;
          background: none;
         }
         &:focus {
            color: #fff;
          background-color: none !important;
          border-color: none !important;
          background: none;
         }
       }
       .btn-group-lg>.btn, .btn-lg {
        border: none;
       } 
    .modal-backdrop {
        position: fixed;
         top: 0;
         right: 0;
         bottom: 0;
         left: 0;
         z-index: 1040;
         background: none !important;
         .modal {
            right: 0;
            margin-right:23px;
            left: none;
               
         }
        }
    a {
        img {
            background: none;
        }
    }
}
.top-menu {
    background: #151414;
    .container {
        @media screen  and (min-width:1900px) {
            max-width: 1692px !important;
        }
    }
    .col-md-6 {
        padding: 0;
        @media only screen and (max-width: 991px) {
            // display: none;
            width: 100%;
        }
    }
    .rowclass {
        @media only screen and (max-width: 991px) {
            width: 118%;
            
        }
        @media only screen and (max-width: 803px) {
            width: 102%;
            
        }
        .col-md-7 {
            padding: 0;
        }
    }
    .container {
        @media only screen and (max-width: 991px) {
            margin: 0;
        }
        @media only screen and (max-width: 803px) {
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .top-list {
        padding: 0;
        
        
        ul {
            margin-top: 5px; 
            margin-bottom: 5px; 
            padding: 0;
            li {
                display: inline;
                color: #fff;
                font-size: 13px;
                padding: 0 4px;
                font-family: 'Open Sans', sans-serif;
                i {
                    padding: 0 5px;
                }
                a {
                    color: #fff;
                    font-size: 14px;
                    text-transform: capitalize;
                    font-family: 'Open Sans', sans-serif;
                }
                &:hover ul {
                    display: block;
                }
                ul {
                    left: 12%;
                    display: none;
                    width: 19%;
                    // padding: 5px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                    position: absolute;
                    z-index: 999;
                    background: #841212;
                    border-radius: 15px 50px 30px;
                    top: 17px;
                    li {
                        padding: 0 20px;
                        a {
                            font-size: 11px;

                        }
                    }
                }
            }
            .help {
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: underline;
                @media only screen and (max-width: 320px) {
                    padding:  0; 
                }
            }
            .infoli {
                text-decoration: underline;
            }
            .phone {
                font-weight: 600;
            }
        }
    }
    .list {
       float: right;

        ul {
            margin-top: 5px; 
            margin-bottom: 5px; 
            padding: 0;
            li {
                display: inline;
                color: #fff;
                font-size: 13px;
                padding: 0 4px;
                font-family: 'Open Sans', sans-serif;

                i {
                    padding: 0 5px;
                }
                a {
                    color: #fff;
                    font-size: 14px;
                    text-transform: capitalize;
                    font-family: 'Open Sans', sans-serif;
                }
            }
            .help {
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: underline;
            }
            .infoli {
                text-decoration: underline;
            }
            .phone {
                font-weight: 600;
            }
        }
    }
}

.slider-section {
    .carousel-inner {
        position: relative;
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0px;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 1;
            transition: .5s ease;
            background-color: #2b2e2e14;
            .caption {
                color: white;
                font-size: 20px;
                position: absolute;
                top: 55%;
                left: 50%;
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                text-align: center;
                z-index: 1;
                width: 58%;
                -webkit-transform: translate(-50%, -50%);
                
                h1 {
                    font-size: 50px;
                    color : #fff;
                    text-transform: capitalize;
                    font-weight: 600;
                    font-family: 'Open Sans', sans-serif;
                    @media only screen and (max-width: 991px) {
                        font-size: 35px;
                    }
                    @media only screen and (max-width: 767px) {
                        font-size: 22px;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 17px;
                    }
                }
                p {
                    font-size: 20px;
                    color : #fff;
                    text-transform: capitalize;
                    font-family: 'Open Sans', sans-serif;
                    @media only screen and (max-width: 767px) {
                        font-size: 18px;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 14px;
                    }
                }
                .bg-light {
                    background-color: #43352e00 !important;
                    @media only screen and (max-width: 991px) {
                        background-color: none !important;
                    }
                }
                nav {
                    padding: 0;
    
                   .form-inline {
                       width: 100%;
                       &:after {
                           display: none;   
                       }
                       .form-control {
                            // background: none;
                            width: 78%;
                            padding: 11px;
                            border: none;
                            @media only screen and (max-width:687px) {
                                width: 52%;
                            }
                            @media only screen and (max-width: 414px) {
                                width: 100%;
                            }
                            @media only screen and (max-width: 375px) {
                                width: 100%;
                            }
                            @media only screen and (max-width: 320px) {
                                width: 81%;
                            }
                            &:focus {
                                box-shadow: none;
                            }
                       }
                       .btn {
                            width: 20%;
                            background: #900f0c;
                            color: #fff;
                            border-color: #900f0c;
                            padding: 11px;
                            font-family: 'Open Sans', sans-serif;
                            border: none;
                            @media only screen and (max-width: 414px) {
                                width: 69%;
                            }
                            @media only screen and (max-width: 320px) {
                                width: 80%;
                            }
                            @media only screen and (max-width: 375px) {
                                width: 69%;
                            }
                            &:hover {
                                color: #000;
                                // background: none;
                            }
                            &:focus {
                                border-color: #900f0c !important;
                                box-shadow: 0px 0px 3px 0px #900f0c !important;
                            }
                       }
                   } 
                }
                .container {
                    @media only screen and (max-width: 991px) {
                        padding: 0;
                    }
                    .col-md-3 {
                        @media only screen and (max-width: 1024px) {
                            max-width: 26% !important;
                         }
                        @media only screen and (max-width: 991px) {
                            padding-right: 0;
                            padding-left: 3px;
                        }

                        @media only screen and (max-width: 768px) {
                           max-width: 24% !important;
                        }
                        @media only screen and (max-width: 320px) {
                            max-width: 39%;
                        }
                    }
                }
                .box-block {
                    padding: 20px 0;
                    @media only screen and (max-width: 320px) {
                        padding: 0;
                    }
                   .box  {
                    background: #840909e6;
                    width: 100%;
                    // border: 1px solid #999;
                    float: right;
                    border-radius: 4px;
                    height: 108px; 
                    @media only screen and (max-width: 414px) {
                        height: 57px;
                    }
                    @media only screen and (max-width: 375px) {
                        
                    } 
                    @media only screen and (max-width: 320px) {
                        height: 75px;
                    } 
                    &:hover {
                        background: #150c05cf;
                        box-shadow: 0px 0px 4px 0px #704200;
                    }
                    i{
                      background: none;
                      color: #fff;
                      font-size: 33px;
                    //   margin-left: 19px;
                    margin-top: 22px;
                    @media only screen and (max-width: 414px) {
                        font-size: 14px;
                        margin-left: -5px;
                    }
                    @media only screen and (max-width: 375px) {
                        font-size: 17px;
                        margin-top: 20px;
                        margin-left: -8px;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 14px;
                        margin-left: -12px;
                    }
                   }
                   h1 {
                      color: #fff;
                      font-size: 15px;
                      text-transform: capitalize;
                      font-family: 'Open Sans', sans-serif;
                      text-align: center;
                      margin-top: -8px;
                        @media only screen and (max-width: 414px) {
                            display: none;
                        }
                        @media only screen and (max-width: 375px) {
                            font-size: 10px;
                        }
                        @media only screen and (max-width: 320px) {
                            display: none;
                        }
                   }
                   } 
                }
                
                   .col-md-3 {
                      max-width: 19%;
                        @media only screen and (max-width: 1024px) {
                            width: 26% !important;
                        }
                   }
                .card {
                    height: 105px;
                    background: #840909e6;
                    width: 78%;
                    border: 1px solid #999;
                    // width: 23rem !important;
                    @media only screen and (max-width: 991px) {
                       
                    }
                    @media only screen and (max-width: 767px) {
                        width: 36%;
                        height: 73px;
                        margin-left: 132px;
                    }
                    &:hover {
                        background: #150c05cf;
                        box-shadow: 0px 0px 4px 0px #704200;
                    }
                    i {
                        font-size: 33px;
                        margin-top: 24px;
                        margin-left: 48px;
                        @media only screen and (max-width: 768px) {
                            margin-left: 31px;
                        }
                        @media only screen and (max-width: 991px) {
                            margin-top: 10px;
                            width: 36%;
                            font-size: 25px;
                            text-align: center;

                        }
                        @media only screen and (max-width: 767px) {
                            margin-left: 43px;

                        }
                        // &:hover {
                        //     color: #2404044f;
                        // }
                    }
                    .card-body {
                        @media only screen and (max-width: 991px) {
                            padding: 0;
                            text-align: left;
                            margin: 10px 18px;
                        }
                        @media only screen and (max-width: 970px) {
                            margin: 10px 10px;
                        }
                        @media only screen and (max-width: 970px) {
                            text-align: center;
                        }
                    }
                    .card-title {
                        color: #fff;
                        font-size: 15px;
                        text-transform: capitalize;
                        font-family: 'Open Sans', sans-serif;
                        // &:hover {
                        //     color: #000;
                        // }
                        @media only screen and (max-width: 991px) {
                            text-align: center;
                        }
                    }
                }
                .block {
                    margin-left: 74px;
                    @media only screen and (max-width: 1024px) {
                        margin-left: 0;
                    }
                    @media only screen and (max-width: 320px) {
                        margin-left: 0;
                        padding: 0;
                    }
                    .col-md-3 {
                        
                    }
                }
            }
        }
        
        .carousel-item {
            
            img {
                object-fit: cover;
                width: 100%;
                height: 601px;
                @media only screen and (max-width: 991px) {
                    height: 654px;
                }
            }
        }
    }
}
.highlight-section {
    padding: 20px 0;
    h1 {
        text-align: center;
        text-transform: uppercase;
        color: #660e12;
        font-weight: 600;
        font-family: 'Open Sans', sans-serif;
        // padding-bottom: 20px;
        @media only screen and (max-width: 414px) {
            margin-left: 6%;
            font-size: 25px;
            margin-top: 21px;
        }
        @media only screen and (max-width: 411px) {
            margin-left: 14%;
            font-size: 24px;
            margin-top: -1px;
        }
        @media only screen and (max-width: 375px) {
            font-size: 28px;
            margin-top: 16px;
            margin-left: 17px;
        }
        @media only screen and (max-width: 320px) {
            margin-left: 6%;
            font-size: 24px;
            margin-top: 21px;
        }
    }
    .forafter {
        i {
            margin-left: 39%;
            color: #ff000024;
            padding-bottom: 20px;
            @media screen  and (min-width:1900px) {
                margin-left: 44% !important;
            }
            @media only screen and (max-width: 480px) {
                margin-left: 21%;
            }
            @media only screen and (max-width: 777px) {
                margin-left: 32%;
            }
            @media only screen and (max-width: 414px) {
                margin-left: 25%;
            }
            @media only screen and (max-width: 405px) {
                margin-left: 12%;
            }
            @media only screen and (max-width: 375px) {
                margin-left: 21%;
            
            }
            @media only screen and (max-width: 320px) {
                margin-left: 20%;
            }
        }
        &:before {
            width: 117px;
            content: '';
            background: #eeeeee;
            position: relative;
            z-index: 999;
            float: left;
            height: 2px;
            top: 13px;
            left: 38%;
            @media screen  and (min-width:1900px) {
                left: 42% !important;
            }       
            @media only screen and (max-width: 480px) {
                left: 20%;
            }
            @media only screen and (max-width: 777px) {
                left: 30%;
            }
            @media only screen and (max-width: 405px) {
                left: 11%;
            }
            @media only screen and (max-width: 360px) {
                left: 14%;
                width: 106px;
            }
            @media only screen and (max-width: 414px) {
                    left: 22%;
                width: 26%;
            }
            @media only screen and (max-width: 375px) {
                left: 20%;
                width: 90px;
            }
               
            @media only screen and (max-width: 320px) {
                left: 17%;
                width: 26%;

            }
        }
        &:after {
            width: 117px;
            content: '';
            background: #eeeeee;
            position: relative;
            z-index: 999;
            float: right;
            height: 2px;
            top: 13px;
            right: 0%;
            right: 41%;
            @media only screen and (max-width: 1024px) {
                right: 35%;
            }
            @media only screen and (max-width: 991px) {
                right: 34%;
            }
            @media only screen and (max-width: 930px) {
                right: 33%;
            }
            @media only screen and (max-width: 895px) {
                right: 32%;
            }
            @media only screen and (max-width: 868px) {
                right: 30%;
            }
            @media only screen and (max-width: 813px) {
                right: 29%;
            }
            @media only screen and (max-width: 777px) {
                right: 33%;
            }
            @media only screen and (max-width: 723px) {
                right: 31%;
            }
            @media only screen and (max-width: 676px) {
                right: 29%;
            }
            @media only screen and (max-width: 643px) {
                right: 26%;
            }
            @media only screen and (max-width: 599px) {
                right: 24%;
            }
            @media only screen and (max-width: 562px) {
                right: 22%;
            }
            @media only screen and (max-width: 545px) {
                right: 20%;
            }
            @media only screen and (max-width: 524px) {
                right: 18%;
            }
            @media only screen and (max-width: 497px) {
                right: 16%;
            }
            @media only screen and (max-width: 470px) {
                right: 14%;
            }
            @media only screen and (max-width: 414px) {
                right: 14%;
                width: 26%;
            }
            @media only screen and (max-width: 405px) {
                right: 25%;
            }
            @media only screen and (max-width: 375px) {
                margin-left: 21%;
                width: 90px;
            
            }
            @media only screen and (max-width: 320px) {
                right: 20%;
                width: 26%;
            
            }
        }
       
    }
    .container {
        @media screen  and (min-width:1900px) {
            max-width: 1692px !important;
        }
    }
    .row {
        margin-right: 0;
        margin-left: 0;
    }
    .col-md-4 {
        // padding: 11px;
        padding: 5px;
    }
    .card {
        box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.09);
        width: 100% !important;
        // &:hover {
        // box-shadow: 0px 0px 6px 0px #bcbcbc;

        // }
        .card-body {
            padding: 15px 0px !important;
        }
        @media only screen and (max-width:991px) {
            // width: 19rem !important;
            margin-right: 10px;
        }
        @media only screen and (max-width: 767px) {
            // width: 30rem !important;
        }
        @media only screen and (max-width: 539px) {
            // width: 26rem !important;
        }
        @media only screen and (max-width: 434px) {
            // width: 23rem !important;
        }
        @media only screen and (max-width: 405px) {
            // width: 21rem !important;
        }
        @media only screen and (max-width: 347px) {
            // width: 20rem !important;
        }
        .img-card {
            img {
                height: 200px;
                object-fit: cover;
                @media only screen and (max-width:991px) {
                    margin-right: 10px;
                }
                
            }
            .overlay {
                position: absolute;
                bottom:100%;
                left: 0;
                right: 0;
                overflow: hidden;
                width: 100%;
                height:0;
                top: 0px;
                transition: .5s ease;
                background: rgba(0, 0, 0, 0.24);
            } 
            &:hover .overlay {
                bottom: 0;
                // top: 18px;
                height: 67%;
          }
        }
       
        
        h5 {
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            padding-left: 7px;
        }
        .rate {
            h1 {
                font-size: 17px;
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                margin-left: 10px;
                color: #000;
                width: 100%;
                text-align: left;
                @media only screen and (max-width: 767px) {
                    // margin-left: 15px;
                    // width: 61%;
                }
                @media only screen and (max-width: 320px) {
                    text-align: left;
                    margin-left: 16px;
                    font-size: 14px;
                }
                .checked {
                    color: #ff9700;
                    font-size: 14px;
                    // padding-left: 4px;
                    @media only screen and (max-width: 320px) {
                        font-size: 14px;
                       
                    }
                }
                span {
                    font-size: 14px;
                    color: #ff9700;

                }
                .rateday {
                    // float: right;
                    font-size: 20px;
                    color: #8d0000;
                    margin-left: 18px !important;
                    // margin: 0 !important;
                    @media only screen and (max-width: 1024px) {
                        font-size: 14px;
                    }
                    @media only screen and (max-width: 991px) {
                        margin-right: 23px !important;
                        padding-top: 10px;
                    }
                    @media only screen and (max-width: 767px) {
                        margin-right: 17px !important;
                        padding-top: 0px;
                        float: right;
                    }
                    @media only screen and (max-width: 768px) {
                        margin-left: 63px !important;
                    }
                    @media only screen and (max-width: 320px) {
                        font-size: 14px;
                        float: initial;
                    }
                }
            }
            
        }
    }
}
.about-section {
    padding: 30px 0;
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .block-one {
        background: #116fa2;

        ul {
            padding: 40px 0;
            li {
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                text-align: center;
                font-size: 28px;
                color: #fff;
                display: block;
                font-weight: 500;
                @media only screen and (max-width: 1011px) {
                    font-size: 21px ;
                }   
            }
            .lijust {
                @media only screen and (max-width: 1011px) {
                    font-size: 40px !important;
                }
            }
            .liget {
                @media only screen and (max-width: 1011px) {
                    font-size: 18px !important;
                }
            }
            .help {
                background: #044e77;
                padding: 10px 30px;
                font-size: 26px;
                color: #fff;
                font-weight: bold;
                margin-left: 122px;
                display: inline-block;
                @media only screen and (max-width: 1200px) {
                    margin-left: 73px;
                }
                @media only screen and (max-width: 1024px) {
                    margin-left: 33px;
                }
                @media only screen and (max-width: 1014px) {
                    margin-left: 72px;
                    font-size: 20px;
                }
                @media only screen and (max-width: 767px) {
                    margin-left: 221px;
                }
                @media only screen and (max-width: 768px) {
                    margin-left: 15px;
                }
                
                @media only screen and (max-width: 620px) {
                    // margin-left: 129px;
                    margin-left: 0;

                }
                
                @media only screen and (max-width: 768px) {
                    // margin-left: 9px;

                }
                
                @media only screen and (max-width: 414px) {
                    margin-left: 36px;
                }
                @media only screen and (max-width: 375px) {
                    margin-left: 12px;

                }
                span {
                    font-size: 64px;
                    background: #054e77;
                    padding: 5px 21px;
                    @media only screen and (max-width: 1029px) {
                        padding: 0;
                    }
                }
            }
        }
    }
    .block-two {
        padding: 30px;
        background: #f4f4f4;
        h1 {
            font-size: 24px;
            text-transform: inherit;
            font-family: 'Open Sans', sans-serif;
            color: #3d3939;
            text-transform: capitalize;
            small {
                font-size: 18px;
                font-weight: normal;
                color: #b6b6b6;
                text-transform: uppercase;
            }
        }
        h2 {
            font-size: 25px;
            text-transform: capitalize;
            font-family: 'Open Sans', sans-serif;
            // color: #b6b6b6;
        }
        p {
            text-align: justify;
            color: #8e8d8d;
            font-size: 14px;
            font-weight: normal;
            line-height: 24px;
            margin-top: 20px;
            font-family: 'Open Sans', sans-serif;
            line-height: 2;
        }
    }
}

footor {
    .top-footer {
        // background: #333333;
        border-top: 1px solid rgba(0,0,0,.1);
        // padding: 25px 0;
        .row {
            @media only screen and (max-width: 768px) {
                display: block;
            }  
        }
        .block-one {
            border-right: 1px solid rgba(0,0,0,.1);
            @media only screen and (max-width: 767px) {
                border-right: none;
             }
            @media only screen and (max-width: 320px) {
               border-right: none;
            }
               h1 {
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                color: #000;
                font-size: 18px;
                font-weight: 300;
                margin-top: 25px;
                
                @media only screen and (max-width: 991px) {
                    font-size: 15px;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 18px;
                    text-align: center;
                }
            }
            a {
                .btn-mobile {
                    border-radius: 23px; 
                    background: #72ad1d;
                    border: none;
                }
            }
        }
        .btn-app {
            border-radius: 23px; 
            background: #841212;
            border: none;
        }
        .col-md-3 {
            max-width: 20% !important;
            @media only screen and (max-width: 991px) {
                padding: 0;
            }
            @media only screen and (max-width: 768px) {
                max-width: 100% !important;
            }
        }
        .footer-border {
            &:nth-child(2) {
                padding: 0;
            }
            
        }
        ul {
            margin-top: 33px;
            margin-top: 25px;
            padding: 0;
            border-right: 1px solid rgba(0,0,0,.1);;
            // border-right: 1px solid #999;
            @media only screen and (max-width: 768px) {
                border-right: none;
             }
            @media only screen and (max-width: 767px) {
                border-right: none;
             }
            @media only screen and (max-width: 320px) {
                border-right: none;
             }
        }
        li {
            display: block;
            @media only screen and (max-width: 768px) {
                margin-left: 0;
            }
            @media only screen and (max-width: 320px) {
               margin-left: 0;
             }
            
            a {
                color: rgba(0,0,0,.54);
                text-transform: capitalize;
                font-family: 'Open Sans', sans-serif;
                font-size: 14px;
                position: relative;
                margin-left: 6px;
                line-height: 2.5;
                @media only screen and (max-width: 991px) {
                    font-size: 13px;
                }
                @media only screen and (max-width: 768px) {
                    font-size: 15px;
                }
                &:hover {
                    color: red;
                }
            }
        }
       
    }
    .footer-section {
        // background: #222222;
        border-top: 1px solid rgba(0,0,0,.1);
        
        
        .footer-part2 {
            // padding: 20px 0;
            text-align: center;
            @media only screen and (max-width: 767px ) {
                text-align: center;
            }
            @media only screen and (max-width:491px ) {
                text-align: center;
            }
            ul {
                padding: 0;
                li {
                    padding: 4px;
                    color: #b7b7b7;
                    text-transform: capitalize;
                    display: inline;
                    a {
                        img {
                            width: 5%;
                            @media only screen and (max-width: 767px) {
                                width: 11%;
                            }
                            @media only screen and (max-width: 320px) {
                                width: 11%;
                            }
                        }
                    }
                }
            }
            h1 {
                font-size: 17px;
                color: #b7b7b7;
                text-transform: uppercase;
                font-family: 'Open Sans', sans-serif;
                margin-left: 17px;
            }
        }
        p {
            text-transform: uppercase;
            color: #b7b7b7;
            font-size: 14px;
            font-family: 'Open Sans', sans-serif;
            font-family: 'Lato', sans-serif;
        }
    }
    .text-center {
        border-top: 1px solid rgba(0,0,0,.1);
        .footer-part {
            padding: 10px 5px;
            @media only screen and (max-width:491px ) {
                text-align: center;
            }
            @media only screen and (max-width: 767px ) {
                text-align: center;
            }
            h1 {
                font-size: 17px;
                color: #b7b7b7;
                margin: 0;
                font-family: 'Open Sans', sans-serif;
            }
            ul {
                // padding: 8px;
                margin-bottom: 0;
                
                li {
                    display: inline;
                    padding: 10px;
                    color: #b7b7b7;
                
                    text-transform: capitalize;
    
                    a {
                        font-family: 'Open Sans', sans-serif;
                        color: #b7b7b7;
                        font-size: 21px;
                        i {
                            background: none;
                            height: 25px;
                            width: 25px;
                            border: 1px solid rgba(0, 0, 0, 0.3);
                            border-radius: 50%;
                            transition: 0.5s;
                            margin-left: 0px;
                            line-height: 1.6;
                            text-align: center;
                            transition: 1s;
                            color: rgba(0, 0, 0, 0.3);
                            font-size: 15px;

                            
                            &:hover {   
                                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
                                border-radius: 22%;
                                transition: 1s;
                            }
                        }
                        .facebook {
                            &:hover {
                                background: #3a5894;
                                color: #fff;
                            }
                        }
                        .linked {
                            &:hover {
                                background: #0077b5 !important;
                                color: #fff;
                            }
                        }
                        .twitter {
                            &:hover {
                                background: #02abee;
                                color: #fff;
                            }
                        }
                        .instagram {
                            &:hover {
                                background: #c00b0b;
                                color: #fff;
                            }
                        }
                        .youtube {
                            &:hover {
                                background: #ff0000;
                                color: #fff;
                            }
                        }
                    }
                    p {
                         color: #f6f6f6;
               
                    }
                }
            }
        }
        
    }
    h1 {
        font-size: 12px;
        color: rgba(0,0,0,.3);
        margin-top: 20px;
        a {
            img {
                    width: 9%;
                    padding-right: 5px;
            }
        }
    }
    p {
        font-size: 12px;
        color: rgba(0,0,0,.3);
        margin-top: 20px;
    }
}
// for the model
.model-section {
    .modal-content {
    // background: #f1f1f11c;
    h1 {
        margin: 0;
        font-size: 20px;
        text-transform: capitalize;
        padding-left: 46px;
       }
       form:after {
           display: none;
       }
    .modal-body {
        padding: 0;
        .col-md-6 {
            padding: 10px;
            .form-control {
                border-bottom: 1px solid #a7a7a787 !important;
                border: none;
                box-shadow: none !important;
                -webkit-box-shadow: none;
            }
            .contact {
                padding: 15px 0;
                ul {
                    padding: 10px;
                    li{
                        display: block;
                        font-size: 17px;
                        // padding-top: 5px;
                        i{
                            background: none;
                            // font-size: 25px;
                            margin-top: 13px;
                         }
                     }
                }
             }
             .social-media{
                // padding-top: 20px;
                ul {
                    padding: 0;
                    li {
                        display: inline;
                      padding: 3px;
                      color: #b7b7b7;
                      text-transform: capitalize;
                      a {
                        color: #b7b7b7;
                         font-size: 21px;
                      i {
                            // background: #7e0f0e;
                            height: 40px;
                            width: 40px;
                            border: 1px solid #1f1d1d;
                            border-radius: 50%;
                            transition: 0.5s;
                            margin-left: 0px;
                            line-height: 1.9;
                            text-align: center;
                            transition: 1s;
                            color: #000;
                            &:hover {   
                                box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);
                                border-radius: 22%;
                                transition: 1s;
                            }
                        }
                        .facebook {
                            &:hover {
                                background: #3a5894;
                                color: #fff;
                            }
                        }
                        .linked {
                            &:hover {
                                background: #0077b5 !important;
                                color: #fff;
                            }
                        }
                        .twitter {
                            &:hover {
                                background: #02abee;
                                color: #fff;
                            }
                        }
                        .instagram {
                            &:hover {
                                background: #c00b0b;
                                color: #fff;
                            }
                        }
                        .youtube {
                            &:hover {
                                background: #ff0000;
                                color: #fff;
                            }
                        }
                     }
                       
                     }
                }
             }
         }
     }
}
}
.modal-content {
    width: 131% !important;
    .form-control:focus {
        color: #495057;
        background: none !important;
        border-color: none !important;
        outline: 0;
        box-shadow: none !important;
    }
}
